# --------------------
# Python / env
# --------------------
__pycache__/
*.py[cod]
*.log
.venv/
.env
!.env.example

# --------------------
# dbt artifacts
# --------------------
dbt_retail/target/
dbt_retail/logs/
dbt_retail/dbt_packages/
dbt_retail/_backup_models/
dbt_retail/_backup_docs/

# --------------------
# Data (évite de versionner les datasets)
# --------------------
data/raw/
data/processed/

# --------------------
# Power BI (fichiers & cache local)
# --------------------
powerbi/**/*.pbix
powerbi/**/*.pbit
**/.pbi/
**/.pbi-cache/
**/*.pbix.tmp

# --------------------
# OS / IDE
# --------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# backups
*.bak
*.bak.*

# ignore nested dbt .gitignore
/dbt_retail/.gitignore
